.toolbar
  box-shadow 0 2px 4px rgba(#000, .35)
  font-size 14px

  ul
    margin-top -160px
    transition-duration .3s
    transition-timing-function ease-out
    &.expanded
      margin-top 0

    li
      border-bottom 1px solid #ddd
      background-repeat no-repeat
      justify-content center
      color rgba(#000, .87)
      background-color #fff
      background-size cover
      align-items center
      line-height: 39px
      text-align center
      font-weight 400
      cursor pointer
      transition .2s
      height: 40px
      display flex
      &:hover
        background-color #f5f5f5
        color #2196F3
      .icon
        display inline-block
        margin-right 10px
        height 20px
        width 20px
