html,
body
  font-family Roboto, Noto sans, Noto, sans-serif
  color rgba(#000, .87)
  min-height: 500px
  min-width 375px
  font-size 16px
  height 100%
  width 100%

#root
  height: 100%

#App
  display flex
  height: 100%

.md-button
  box-shadow: 0 1px 3px rgba(#000, .5)
  text-transform uppercase
  vertical-align middle
  border-radius 2px
  text-align center
  line-height 37px
  letter-spacing 0
  font-weight 500
  font-size 14px
  cursor pointer
  padding 0 16px
  transition .2s
  &:hover
    box-shadow 0 2px 5px rgba(#000, .3)
