.rating
  flex-flow: row-reverse
  cursor: pointer
  display: flex

  .star
    position: relative
    color: #eb6e00
    letter-spacing: -1px

    &::before
      line-height: inherit
      font-size: inherit
      content: '☆'

    &:hover,
    &.active

      &::before
        content: '★'

      & ~ .star::before
        content: '★'

    