@import url('placeControls/style')
@import url('placeInfo/style')
@import url('placeReviews/style')

.place
  max-height: calc(100vh - 104px)
  position: relative
  overflow-y: auto
  overflow-x: hidden
  display: flex
  flex-grow: 1
  width: 100%

  .page
    transition: .2s ease-out
    padding: 10px 15px
    flex-shrink: 0
    width: 100%
