@import url('placeControls/style')
@import url('placeInfo/style')
@import url('placeReviews/style')

.place
  position: relative
  overflow: hidden
  display: flex
  width: 100%

  .page
    transition: .5s cubic-bezier(.25, .93, .5, .98)
    flex-shrink: 0
    width: 100%
