@import url('placeControls/style')
@import url('placeInfo/style')
@import url('placeReviews/style')

.place
  overflow: hidden
  display: flex
  flex-grow: 1
  width: 100%

  .page
    transition: .5s cubic-bezier(.25, .93, .5, .98)
    flex-shrink: 0
    width: 100%

    &:first-of-type
      margin-left: -100%

    &.active
      margin-left: 0
