@import '~variables.styl'
@import '~mixins.styl'

.userbar
  justify-content space-between
  background-color $blue
  align-items center
  padding 0 12px
  font-size 14px
  display flex
  color $white
  height 54px

  .user
    width: calc(100% - 97px)
    align-items center
    display flex

    &__photo
      background-repeat no-repeat
      background-size cover
      margin-right: 10px
      border-radius 50%
      display block
      height 38px
      width 38px

    &__info
      max-width: calc(100% - 50px)

      &--name
        font-weight $medium-weight
        text-overflow: ellipsis
        overflow: hidden
        display: block

      &--email
        font-weight $normal-weight
        text-overflow: ellipsis
        overflow: hidden
        font-size: 13px
        display: block
        color: #eee

  &__logout-btn
    material-button($moderateBlue, $white)
    width 85px