.hours
  padding: 0 5px
  display: flex

  h3
    font-weight: 500
    font-size: 14px

  .weekdays
    display: flex
    flex-flow: column

    &__weekday
      font-weight: 400
      font-size: 12px