.hours
  border-top: 1px solid #d7d7d7
  align-items: flex-start
  padding: 8px 0
  display: flex

  &__title
    align-items: center
    flex-flow: row
    display: flex

    i
      color: rgba(#000, .54)
      margin-right: 4px
      font-size: 20px

    h3
      line-height: 19px
      margin-right: 4px
      font-weight: 500
      font-size: 14px

  .weekdays
    flex-flow: column
    display: flex

    ul
      transition-timing-function: ease-out, step-end, step-end
      visibility: hidden
      list-style: none
      transition: .3s
      opacity: 0
      height: 0

      &.active
        animation: opening .5s ease-out forwards
        animation-delay: .3s
        visibility: visible
        padding-top: 2px
        height: 122px

      li
        line-height: 17px
        font-weight: 400
        font-size: 14px

        &:first-of-type
          font-weight: 500

    &__toggle-btn
      text-decoration: underline
      align-self: flex-start
      position: relative
      line-height: 19px
      color: #2196f3
      font-weight: 500
      font-size: 14px
      cursor: pointer
      transition: .2s

      &.active::before
        display: none

      &::before
        border: 6px solid
        border-color: transparent
        border-top-color: #333
        transform: scaleX(.7)
        position: absolute
        right: -14px
        content: ''
        top: 6px

@keyframes opening
  to
    opacity: 1
