.autocomplete-field
  background-color: #fff
  position relative
  font-size 1rem
  height: 50px
  z-index: 3

  .search-icon
    color rgba(#000, .54)
    pointer-events none
    position absolute
    transition .2s
    left 10px
    top 13px

  input
    box-shadow: 0 1px 3px rgba(#000, .5)
    border-bottom 1px solid transparent
    padding: 16px 15px 14px 41px
    transition .2s
    width 100%

    &:focus
      box-shadow: 0 1px 3px rgba(#2196f3, .5)
      border-bottom 2px solid #2196f3
      padding: 16px 15px 13px 41px

      & + .search-icon
        color #2196f3

/* Google maps "autocomplete" style fix */
.pac-logo::after
  display none
