@import './placeHours/style'
@import './placePhotos/style'
@import './placeTags/style'

.info
  margin-left: -100%

  &.active
    margin-left: 0

  &__title
    padding: 4px 30px 12px 0
    font-weight: 400
    font-size: 16px

  &__phone
    border-top: 1px solid #d7d7d7
    align-items: center
    padding: 8px 0
    display: flex

    i
      color: rgba(#000, .54)
      margin-right: 4px
      font-size: 20px

    h3
      display: inline-block
      margin-right: 4px
      font-weight: 500
      font-size: 14px

    span
      font-weight: 400
      font-size: 14px