*,
*::before,
*::after
  box-sizing border-box
  padding 0
  margin 0

a
  text-decoration inherit
  color inherit

button,
textarea,
input
  background-color transparent
  font-family inherit
  font-size inherit
  color inherit
  outline none
  border: none
