/* colors */

$white = #fff
$black = rgba(#000, .87)
$grey = rgba(#000, .54)
$shadowColor = rgba(#000, .5)
$raisedShadowColor = rgba(#000, .3)
$blue = #2196f3
$moderateBlue = #3f51b5

/* defaults */

$font-family = 'Roboto', sans-serif
$font-size = 16px

/* font-weights */

$light-weight = 300
$normal-weight = 400
$medium-weight = 500
