#Map
  align-items: center
  position relative
  display: flex
  height 100%
  flex-grow 1
  
/*
 * Default google map fixes
 */
.gm-style

  & > div
  
    &:nth-of-type(2)
      display: none;
  
    &:nth-of-type(4)
      display: none;
  
    &:nth-of-type(6)
      display: none;
  
    &:nth-of-type(8)
      display: none;
